<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--<typeAliases>-->
        <!--<package name="com.mars.generator.model"/>-->
        <!--<package name="com.mars.manage.model"/>-->
    <!--</typeAliases>-->

    <!--<mappers>-->
        <!--&lt;!&ndash;<mapper resource="generator/mapper/GenDataBaseDict.xml"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapper resource="manage/mapper/UserMapper.xml"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapper resource="generator/mapper/GenScheme.xml"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapper resource="generator/mapper/GenTable.xml"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapper resource="generator/mapper/GenTableColume.xml"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapper resource="generator/mapper/GenTemplate.xml"/>&ndash;&gt;-->
    <!--</mappers>-->

</configuration>