<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.mars.generator.model"/>
        <package name="com.mars.manage.model"/>
    </typeAliases>

    <mappers>
        <mapper resource="generator/mapper/GenDataBaseDict.xml"/>
        <mapper resource="manage/mapper/UserMapper.xml"/>
        <!--<mapper resource="generator/mapper/GenScheme.xml"/>-->
        <!--<mapper resource="generator/mapper/GenTable.xml"/>-->
        <!--<mapper resource="generator/mapper/GenTableColume.xml"/>-->
        <!--<mapper resource="generator/mapper/GenTemplate.xml"/>-->
    </mappers>

</configuration>