<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.mars.admin.model"/>
    </typeAliases>

    <mappers>
        <mapper resource="admin/mapper/UserMapper.xml"/>
        <mapper resource="admin/mapper/CompanyMapper.xml"/>
        <mapper resource="admin/mapper/RoleMapper.xml"/>
        <mapper resource="admin/mapper/RoleMenuMapper.xml"/>
        <mapper resource="admin/mapper/MenuMapper.xml"/>
        <mapper resource="admin/mapper/UserRoleMapper.xml"/>
    </mappers>

</configuration>