<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- 生成分类 -->
	<category>
		<category value="curd" label="增删改查（单表）">
			<template>category-ref:dao</template>
		</category>
		<category value="dao" label="仅持久层（dao/entity/mapper）">
			<template>dao/dao.xml</template>
			<template>dao/entity.xml</template>
			<template>dao/mapper.xml</template>
		</category>
	</category>
	<!-- java类型 -->
	<javaType>
		<dict value="String" label="String"/>
		<dict value="Long" label="Long"/>
		<dict value="Integer" label="Integer"/>
		<dict value="Double" label="Double"/>
		<dict value="java.util.Date" label="Date"/>
	</javaType>
</config>